.hero {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(24, 32, 20, 0.6), rgba(24, 32, 20, 0.6)),
    url("../assets/Hero.png") center center / cover no-repeat;
  height: 90vh;
  color: #f1f1eb;
  padding: 0 10em;
}

.hero-content {
  display: flex;
  position: relative;
  gap: 4em;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 4.5em;
  margin-top: 1em;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content p {
  font-size: 1.35em;
  max-width: 40ch;
  font-weight: 400;
  line-height: 1.6;
  color: #f1f1eb;
  margin: 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content .cta-button {
  display: inline-flex;
  width: fit-content;
  position: absolute;
  bottom: 13em;
  right: 4em;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  padding: 0.65em 1.3em;
  background: #da9f15;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: background-color 200ms ease-out, transform 200ms ease-out,
    box-shadow 200ms ease-out;
}

.hero-content a:hover {
  background-color: #cc981e;
  transform: scale(1.2);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}
