.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  flex-basis: 100%;
  padding: 2em;
  gap: 2em;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../assets/ServicesBGPattern.png");
  background-repeat: repeat;
  background-size: contain;
  background-color: #f8f9f8;
}

.services-header {
  text-align: center;
}

.services-header h1 {
  margin-bottom: 1em;
}

.services-grid {
  display: flex;
  justify-content: space-between;
  /* gap: 3em; */
}

.service-card {
  max-width: 20em;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  color: #222;
  opacity: 0.9;
}

.service-card:nth-child(1) {
  background-color: #6c9a8b;
  color: #fff;
}

.service-card:nth-child(2) {
  background-color: #5b8db3;
  color: #fff;
}

.service-card:nth-child(3) {
  background-color: #d97b59;
  color: #fff;
}

.service-card h3 {
  margin-bottom: 2em;
  text-align: center;
}

.service-icon {
  font-size: 5rem;
  align-self: center;
  margin-bottom: 0.2em;
}

.card-cta {
  text-decoration: none;
  color: white;
  align-self: center;
  margin-top: 2em;
  background-color: #5b8db3;
  padding: 1em 2em;
  font-weight: 500;
}

.service-card:nth-child(2) .card-cta {
  background: #d97b59;
}
