.services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  flex-basis: 100%;
  padding: 2em;
  gap: 2em;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../../assets/ServicesBGPattern.png");
  background-repeat: repeat;
  background-size: contain;
  background-color: #f8f9f8;
}

.servicesHeader {
  text-align: center;
}

.servicesHeader h1 {
  margin-bottom: 1em;
  font-size: 3em;
}

.servicesGrid {
  display: flex;
  gap: 3em;
}

.serviceCard {
  max-width: 32%;
  min-width: 15em;
  padding: 2em;
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  color: #222;
  opacity: 0.9;
}

.serviceCard:nth-child(1) {
  background-color: #6c9a8b;
  color: #fff;
}

.serviceCard:nth-child(2) {
  background-color: #5b8db3;
  color: #fff;
}

.serviceCard:nth-child(3) {
  background-color: #d97b59;
  color: #fff;
}

.serviceCard h3 {
  margin-bottom: 1em;
  font-size: 1.8em;
  text-align: center;
}

.serviceCard p {
  font-size: 1.4em;
}

.serviceIcon {
  font-size: 7rem;
  align-self: center;
  margin-bottom: 0.2em;
}

.cardCta {
  text-decoration: none;
  color: white;
  align-self: center;
  margin-top: 2em;
  background-color: #5b8db3;
  padding: 1em 2em;
  font-weight: 500;
}

.serviceCard:nth-child(2) .cardCta {
  background: #d97b59;
}
